#box {
    background-color: #D9B53A;
    padding: 8px;
    border-radius: 5px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 4px;
}

body {
    background-color:#666;
}

.jumbotron {
	    background-color:#D9B53A;
}

.btn-default {
	background-color:#ddd
}